if [ -x /usr/bin/dircolors ]; then
    alias ls="ls --color=auto"
    alias grep="grep --color=auto"
    alias fgrep="fgrep --color=auto"
    alias egrep="egrep --color=auto"
fi

alias ll="ls -alF --color=auto"
alias la="ls -A --color=auto"
alias l="ls -CF --color=auto"
alias lsd="ls -lF | grep --color=never '^d'"

#alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail$

alias mountroelof='sudo  mount.cifs //192.168.0.18/Roelof /mnt/roelof -o username=roelof'
alias mounttorrent='sudo mount.cifs //192.168.0.18/Torrents2 /mnt/torrents -o username=roelof'
alias ledoff='echo "0 off" > /proc/acpi/ibm/led'
alias ledon='echo "0 on" > /proc/acpi/ibm/led'
alias ledblink='echo "0 blink" > /proc/acpi/ibm/led'

# Shortcuts
alias g="git"
alias h="history"
alias j="jobs"

# Enable aliases to be sudo'ed
alias sudo="sudo "
alias week="date +%V"

alias timer="echo 'Timer started. Stop with Ctrl-D.' && date && time cat && date"
alias sniffLAN="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias snuffWLAN="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"

