URxvt*transparent: false
urxvt*depth:32
!urxvt*background:rgba:4000/4000/4000/eeff
!URxvt*tintColor: brown
URxvt*shading: 40
URxvt*saveLines: 12000

!URxvt*font: xft:Ubuntu Mono:pixelsize=12:antialias=true:hinting=true
!URxvt*boldFont: xft:Ubuntu Mono:bold:pixelsize=12:antialias=true:hinting=true

URxvt*font: xft:lemon
URxvt*boldFont: xft:lemon

!URxvt*font: xft:uushi
!URxvt*boldFont: xft:uushi:bold

!URxvt*font: xft:tewi:pixelsize=8
!URxvt*boldFont: xft:tewi:pixelsize=8
!URxvt*font: xft:Liberation Mono:pixelsize=11:antialias=true:hinting=true
!URxvt*boldFont: xft:Liberation Mono:bold:pixelsize=11:antialias=true:hinting=true
!URxvt*font: xft:terminus:pixelsize=15
!URxvt*boldFont: xft:terminus:bold:pixelsize=15
!URxvt*font:-*-courier-medium-r-normal-*-14-*-*-*-*-*-iso8859-1
!URxvt*boldFont:-*-courier-bold-r-normal-*-14-*-*-*-*-*-iso8859-1

!URxvt*.iso14755: False
!URxvt.keysym.Shift-Control-V: perl:clipboard:paste
!URxvt.keysym.Shift-Control-C: perl:clipboard:copy

URxvt*scrollBar: false
URxvt*scrollBar_right: false
!URxvt*scrollstyle: rxvt
URxvt*perl-ext-common:default,matcher,tabbed
URxvt*url-launcher: google-chrome
URxvt*matcher.button:1
!URxvt*colorUL: #e74c3c
URxvt*iconFile: /home/roelof/term.svg

URxvt.urgentOnBell: True
URxvt*tabbed.tabbar-fg: 1
!URxvt*tabbed.tabbed-bg: 0
URxvt*tabbed.tab-fg:	7
URxvt*tabbed.tab-bg:	0


!*background: #2c3e50
!*background: #13191a
!*foreground: #ecf0f1
! black
!*color0: #2c3e50
! bright black
!*color8: #34495e
! red
!*color1: #c0392b
! bright red
!*color9: #e74c3c
! green
!*color2: #27ae60
! bright green
!*color10: #2ecc71
! yellow
!*color3: #f39c12
! bright yellow
!*color11: #f1c40f
! blue
!*color4: #2980b9
! bright blue
!*color:12: #3498db
! magenta
!*color5: #8e44ad
! bright magenta
!*color13: #9b59b6
! cyan
!*color6: #16a085
!*color6: #02b976
! bright cyan
!*color14: #14bc9c
!*color14: #0bf39e
! white
!*color7: #bdc3c7
! bright white
!*color15: #ecf0f1


! --- special colors ---
!*background: #13191a
!*foreground: #e2e8e9
! --- standard colors ---
! black
!*color0: #13191a
! bright_black
!*color8: #3a4142
! red
!*color1: #b2094d
! bright_red
!*color9: #ed1269
! green
!*color2: #45b90a
! bright_green
!*color10: #62f313
! yellow
!*color3: #b2750a
! bright_yellow
!*color11: #ed9d13
! blue
!*color4: #024cb9
! bright_blue
!*color12: #0b68f4
! magenta
!*color5: #6f09b9
! bright_magenta
!*color13: #9612f4
! cyan
!*color6: #02b976
! bright_cyan
!*color14: #0bf39e
! white
!*color7: #9ca2a3
! bright_white
!*color15: #e2e8e9
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
URxvt*foreground: 	#E8DFD6
URxvt*background:	#021B21
URxvt*cursorColor:  #2E3340
URxvt*color0:       #032C36
URxvt*color8:       #065F73
URxvt*color1:       #C2454E
URxvt*color9:       #EF5847
URxvt*color2:       #7CBF9E
URxvt*color10:      #A2D9B1
URxvt*color3:       #8A7A63
URxvt*color11:      #BEB090
URxvt*color4:       #2E3340
URxvt*color12:      #61778D
URxvt*color5:       #FF5879
URxvt*color13:      #FF99A1
URxvt*color6:       #44B5B1
URxvt*color14:      #9ED9D8
URxvt*color7:       #F2F1B9
URxvt*color15:      #F6F6C9
